.post__section {
     width: 100%;
     display: flex;
     justify-content: center;
     align-items: flex-start;
}

.post__container {
     margin: 20px 0;
     width: 650px;
     box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 4px 0px;
}

.post__header {
     display: flex;
     gap: 10px;
     padding: 10px;
}

.user__image {
     width: 45px;
     height: 45px;
     border-radius: 50%;
}

.post__user {
     display: flex;
     flex-direction: column;
     justify-content: space-around;
}

.post__description {
     padding: 10px;
}

.post__img img {
     width: 100%;
     margin: 10px 0px;
}

.post__review {
     margin: 5px 20px;
     height: 25px;
     width: fit-content;
     display: flex;
     justify-content: center;
     align-items: center;
     background-color: #dddd;
     border-radius: 15px;
     padding: 0 15px;
     color: gray;
}

.post__comment__container {
     padding: 20px;
     display: flex;
     align-items: flex-start;
     gap: 20px;
}

.commenting__container {
     display: flex;
     flex-direction: column;
     width: 100%;
     border: 1px solid #dddd;
     padding: 10px;
     border-radius: 4px;

}

.comment__input {
     font-size: 12px;
     border: none;
     outline: none;
}

.comment-sec {
     display: flex;
     flex-direction: column;
     padding: 10px;
     color: rgb(46, 46, 46);
}

.comment-sec div {
     display: flex;
     gap: 10px;
     align-items: flex-start;
}

.comment_details {
     width: fit-content;
     display: flex;
     flex-direction: column;
     align-items: flex-start;
     background-color: #f0f0f0aa;
     padding: 10px;
     border-radius: 10px;
     color: rgb(91, 91, 91);
}

.user {
     width: 35px;
     height: 35px;
     border-radius: 50%;
}

.reply_user {
     width: 30px;
     height: 30px;
     border-radius: 50%;
     margin: 0px 0px 0px 20px;
}

.reply {
     display: flex;
     flex-direction: column;
     padding: 5px;
}

.reply div {
     display: flex;
     gap: 10px;
     align-items: flex-start;
}

.reply_details {
     width: fit-content;
     display: flex;
     flex-direction: column;
     align-items: flex-start;
     background-color: #f0f0f0aa;
     padding: 10px;
     border-radius: 10px;
     color: rgb(91, 91, 91);
}

.reply_counts {
     padding: 2px;
     font-size: 10px;
     margin-left: 50px;
     display: flex;
}

.reply_input {
     display: flex;
     gap: 10px;
     margin:10px 0px 0px 20px;
}

.reply_input div {
     padding: 7px;
     display: flex;
     align-items: center;
     border: 1px solid grey;
     width: 300px;

}

.reply_input div input {
     border: none;
     outline: none;
     width: 100%;
     font-size: 12px;
}